.new-tweet {
    border-radius: 5px;
    border: 2px solid lightgrey;
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}

.new-tweet textarea {
    width: 430px;
    margin: auto;
    padding: 5px;
    margin-top: 5px;
}

.new-tweet .error {
    margin: 0px;
    padding: 5px;
    display: inline;
    font-style: italic;
    font-weight: bolder;
    color: white;
    background: #ff7171;
    border-radius: 2px;
}

.new-tweet h2 {
    margin-bottom: 0px;
}

.new-tweet .counter {
    float: right;
    padding: 5px;
}

.new-tweet input {
    color: #004e3a;
    padding: 10px;
    border: 2px solid #55bbab;
    background-color: #d2efeb;
    border-radius: 5px;
}

.new-tweet input:hover {
    color: #094037;
    border: 2px solid #00c7a7;
    background-color: #f1fffd;
}